<table class="table-condensed table-section" [style.height.px]="2*connectionHeight" [style.width.px]="nameWidth+badgeWidth+connectionWidth">
  <tr>
    <td [style.height.px]="connectionHeight" [style.width.px]="nameWidth+badgeWidth">
      <app-bracket-competitor [competitor]="topCompetitor" [nameWidth]="nameWidth" [badgeWidth]="badgeWidth"
        [highlightId]="highlightId" (mouseOver)="onMouseOver($event)" (mouseLeave)="onMouseLeave()"
        (advance)="onAdvance($event)">
      </app-bracket-competitor>
    </td>
    <td rowspan="2" class="section-connection" [style.width.px]="connectionWidth">
      <app-bracket-connection [height]="connectionHeight" [width]="connectionWidth"
        [highlightId]="highlightId">
      </app-bracket-connection>
    </td>
  </tr>
  <tr>
    <td [style.height.px]="connectionHeight" [style.width.px]="nameWidth+badgeWidth">
      <app-bracket-competitor [competitor]="bottomCompetitor" [nameWidth]="nameWidth" [badgeWidth]="badgeWidth"
        [highlightId]="highlightId" (mouseOver)="onMouseOver($event)" (mouseLeave)="onMouseLeave($event)"
        (advance)="onAdvance($event)">
      </app-bracket-competitor>
    </td>
  </tr>
</table>