<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table>
        <tr>
          <td *ngFor="let round of rounds">
            <div class="h2 text-center">Round {{round + 1}}</div>
          </td>
        </tr>
        <tr>
          <td *ngFor="let round of rounds">
            <app-bracket-section *ngFor="let section of sections[round]" [highlightId]="highlightId"
              [connectionHeight]="getHeight(round)" [connectionWidth]="100" [nameWidth]="100" [badgeWidth]="50"
              [topCompetitor]="section.topCompetitor" [bottomCompetitor]="section.bottomCompetitor"
              (mouseOver)="setHighlightId($event)" (mouseLeave)="removeHighlightId()"
              (advance)="onAdvance($event)">
            </app-bracket-section>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>