<div class="input-group component" [style.border-color]="(competitor && highlightId == competitor.id) ? 'red' : 'lightgray'"
  (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()" (click)="openEditModal()">
  <div class="form-control competitor" [style.width.px]="nameWidth">
    {{competitor ? competitor.firstName : ''}}<br/>
    {{competitor ? competitor.lastName : ''}}
  </div>
  <span class="input-group-addon competitor-badge" [style.min-width.px]="badgeWidth" [style.max-width.px]="badgeWidth">
    <span class="badge badge-pill badge-primary">
      {{competitor ? competitor.wins : 0}}
    </span>
  </span>
</div>