.component {
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
}

.competitor {
  font-size: 12px;
  height: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.competitor-badge {
  /* padding: 0px; */
}