.connection-top {
  border-top: 3px solid;
  border-right: 3px solid;
  float: left;
  position:absolute; 
}

.connection-bottom {
  border-bottom: 3px solid;
  border-right: 3px solid;
  float: left;
  position:absolute;
}

.connection-right {
  border-top: 3px solid;
  float: right;
  position:absolute;
}