<div class="connection-top" [style.width.px]="0.8*width" [style.height.px]="height/2" [style.top.px]="height/2"
    [style.border-top-color]="highlightId == topId ? 'red' : 'lightgray'"
    [style.border-right-color]="highlightId == topId ? 'red' : 'lightgray'">
</div>
<div class="connection-right" [style.width.px]="0.2*width" [style.margin-left.px]="0.8*width" [style.top.px]="height"
    [style.border-top-color]="highlightId == winnerId ? 'red' : 'lightgray'">
</div>
<div class="connection-bottom" [style.width.px]="0.8*width" [style.height.px]="height/2" [style.top.px]="height"
    [style.border-bottom-color]="highlightId == bottomId ? 'red' : 'lightgray'"
    [style.border-right-color]="highlightId == bottomId ? 'red' : 'lightgray'">
</div>