<div class="modal-header">
  <div class="h3 modal-title competitor">{{competitor.firstName}} {{competitor.lastName}}</div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <button class="btn btn-primary" (click)="addWin()">Add win</button>
  <button class="btn btn-primary" (click)="advance()">Advance</button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>